<div class="home-container" fxLayout="column" fxLayoutAlign="space-between stretch">
  <h2>Good morning Jane,</h2>
  <span>Here are your assigned tasks</span>
  <div class="boxes" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxLayout="column" class="box" fxLayoutAlign="space-evenly stretch" >
      sdfsdf
    </div>
    <div fxLayout="column" class="box" fxLayoutAlign="space-evenly stretch">
      <h2>Smile at a stranger</h2>
      <span>Weds Feb 13th @ 3pm at the bus on the way to the grocery store</span>
      <span class="status">Not started</span>
    </div>
    <div fxLayout="column" class="box" fxLayoutAlign="space-evenly stretch">
      sdgsdg
    </div>
  </div>

  <span style="margin: 0 auto;">Don't forget your end goals!</span>

  <div class="cdk-grey">
    <p>Present in front of my SYDE 348 without shaking</p>
  </div>
</div>
