<div class="home-container" fxLayout="column" fxLayoutAlign="space-between stretch">
  <h2>Good morning Jane,</h2>
  <span>Here are your assigned tasks</span>
  <div class="boxes" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div *ngFor="let task of tasks;" fxLayout="column" class="box" fxLayoutAlign="space-evenly stretch" (click)="openTask(task.TaskID)">
      <h2>{{task.TaskName}}</h2>
      <span>{{task.TaskDescription}}</span>
      <span class="status">{{task.Status}}</span>
    </div>
  </div>

  <span style="margin: 0 auto;">Don't forget your end goals!</span>

  <div class="cdk-grey">
    <p>Present in front of my SYDE 348 without shaking</p>
  </div>
</div>
